<div class="footer-custom">
  <span class="post-meta-item">
       Proudly Hosted by <a class="theme-link" href="https://github.com" title="GitHub • Social coding">GitHub</a> Pages
  </span>
  <span class="post-meta-item">
    <span class="post-meta-item-icon">
      <i class="fab fa-github fa-fw"></i>
    </span>
    <a class="theme-link" href="https://github.com/lengthmin/lengthmin.me" title="lengthmin/lengthmin.me">Blog Source</a>
  </span>
</div>
