{#
  移植自 http://moxfive.xyz/2016/06/14/duoshuo-disqus-comment-count/#footer
  基于 https://github.com/next-theme/hexo-theme-next
#}

{% set ccLicense = "署名-非商用-相同方式共享 4.0" %}
{% set ccLicenseTitle = "CC BY-NC-SA 4.0 International"%}
{% set ccText = ccLicense | upper %}
{% set ccURL = 'http://creativecommons.org/licenses/by-nc-sa/4.0/' %}

{% set postURL = page.url or page.permalink %}

{#
  设置你自己的源文件仓库信息
#}
{% set username = "lengthmin" %}
{% set repository = "lengthmin.me" %}
{% set branch = "hexo" %}

{#
  设置 copyright 的文字提示
  __("post.xxxx") 获取 language 文件中的字段
#}
{% set authorText = "文章作者" %}
{% set titleText = "文章标题" %}
{% set linkText = "文章链接" %}
{% set updatedText = "更新时间" %}
{% set historyText = "更新历史" %}
{% set rawText = "源文件" %}
{% set licenseTitle = "版权声明" %}
{% set licenseContent = "%s  转载请保留原文链接及作者。" %}
{% set expireText = "本文最后更新于 %s 天前，文中所描述的信息可能已发生改变" %}

<ul class="post-copyright">
  <li class="post-copyright-author">
    <strong>{{ authorText  }}：
    </strong>
    {{ page.author or author }}

  </li>
  <li class="post-copyright-title">
    <strong>{{ titleText  }}：
    </strong>
    {{ page.title }}
  </li>
  <li class="post-copyright-link">
    <strong>{{ linkText  }}：</strong>
    {{ next_url(postURL, postURL, {title: page.title}) }}
    <span class="copy-path" title="点击复制文章链接">
      <i class="fa fa-clipboard"></i>
    </span>
    <span class="copy-tooltip"></span>
  </li>
  <li class="post-copyright-updated">
    <strong>{{ updatedText  }}：
    </strong>
    {{ page.updated.format("YYYY-MM-DD, HH:mm") }}
    <blockquote class="post-expired-notify">
      {{ __(expireText, '<span id="date-expire-num"></span>')  }}
    </blockquote>
  </li>
  <li class="post-copyright-history">
    <strong>{{ historyText  }}：</strong>
    <i class="fab fa-github"></i>
    <a href="https://github.com/{{ username }}/{{ repository }}/blame/{{ branch }}/source/{{ page.source }}" title="顺序查看文章各部分修改记录" target="_blank">Blame</a>,
    <a href="https://github.com/{{ username }}/{{ repository }}/commits/{{ branch }}/source/{{ page.source }}" title="查看文章有关更新记录" target="_blank">History</a>
    <strong style="margin-left: 1em">{{ rawText  }}：</strong>
    <i class="fas fa-file-alt"></i>
    <a href="https://raw.githubusercontent.com/{{ username }}/{{ repository }}/{{ branch }}/source/{{ page.source }}" title="查看 & 下载文章 Markdown 原始文件" target="_blank">.md Raw</a>
  </li>
  <li class="post-copyright-license">
    <strong>{{ licenseTitle  }}：
    </strong>
    <i class="fab fa-creative-commons"></i>
    {{ __(licenseContent, next_url(ccURL, ccText, {title: ccLicenseTitle }))  }}
  </li>
</ul>
{% set updateDate = page.updated.format("YYYY-MM-DD") %}
<script data-pjax="data-pjax">
  (function () {
    var dateUpdate = Date.parse("{{ updateDate }}");
    var nowDate = new Date();
    var a = nowDate.getTime();
    var b = a - dateUpdate;
    var daysUpdateExpire = Math.floor(b / (24 * 3600 * 1000));
    if (daysUpdateExpire >= 120) {
      document
        .getElementById('date-expire-num')
        .innerHTML = daysUpdateExpire;
    } else {
      document
        .querySelector('.post-expired-notify')
        .style
        .display = 'none';
    }
    var copyButton = document.querySelector('.copy-path');
    var copyTooltip = document.querySelector('.copy-tooltip');
    var timeout;
    copyButton.addEventListener('click', function (e) {
      const text = `原文作者：{{ page.author or author }}\n原文标题：{{ page.title }}\n原文链接：{{ postURL }}`;

      if (copyTooltip.hasChildNodes()) {
        copyTooltip.removeChild(copyTooltip.firstChild);
      }

      if (timeout) {
        clearTimeout(timeout);
      }
      timeout = setTimeout(() => {
        while (copyTooltip.hasChildNodes()) {
          copyTooltip.removeChild(copyTooltip.firstChild);
        }
      }, 2000);

      if (navigator.clipboard) {
        navigator
          .clipboard
          .writeText(text)
          .then(() => {
            copyTooltip.append('复制成功');

          }, () => {
            copyTooltip.append('复制失败');

          });
      } else {
        const ta = document.createElement('textarea');
        ta.style.top = window.scrollY + 'px'; // Prevent page scrolling
        ta.style.position = 'absolute';
        ta.style.opacity = '0';
        ta.readOnly = true;
        ta.value = text;
        document
          .body
          .append(ta);
        ta.select();
        ta.setSelectionRange(0, text.length);
        ta.readOnly = false;
        const result = document.execCommand('copy');
        if (result) {
          copyTooltip.append('复制成功');
        } else {
          copyTooltip.append('复制失败');
        }
        ta.blur(); // For iOS
        button.blur();
        document
          .body
          .removeChild(ta);
      }
    });
  })();
</script>
