.copy-path {
  margin-left: 0.5em;
  cursor: pointer;
}

.copytooltip{
  padding-left: 1em;
  padding-bottom: 10em;
}

$post-copyright = {
  margin: 2em 0 0,
  padding: .5em 1em,
  bg: #f9f9f9,
  border: {
    width: 3px,
    style: solid,
    color: #ff1700
  }
}

.post-copyright {
  margin: $post-copyright.margin;
  padding: $post-copyright.padding;
  border-left: $post-copyright.border.width $post-copyright.border.style $post-copyright.border.color;
  background-color: $post-copyright.bg;
  list-style: none;

  i.fa {
    font-size: 15px;
  }
}

.post-expired-notify {
  margin: 0 0 0.3rem;
  padding: .5rem .8rem;
  background: #ffffc0;
  border-left: 3px solid #fff000;
  list-style: none;
}
