// Custom styles.
.footer-custom  a {
    background-color: color #000;
    border-bottom: none;
    text-decoration: none;
    line-height: 0;
}
.footer-custom a:hover img {
  opacity: 1;
}
.footer-custom img {
  // filter: brightness(0);
  display: inline-block;
  position: relative;
  top: 4px;

  width: 80px;
  height: 20px;
  opacity: .8;
  padding: 1px;
  padding-left: 1px;
  overflow:hidden;
}

.copy-path {
    margin-left: 1em;
    width: 1em;
    cursor: pointer;
}

.copytooltip{
  padding-left: 1em;
  padding-bottom: 10em;

}

#mytitle {
    position: absolute;
    color: #ffffff;
    max-width: 160px;
    font-size: 12px;
    padding: 5px;
    background: rgba(40, 40, 40, 0.8);
}
.post-body img{
  border-style: none !important;
}

$post-copyright = {
  margin: 2em 0 0,
  padding: .5em 1em,
  bg: #f9f9f9,
  border: {
    width: 3px,
    style: solid,
    color: #ff1700
  }
}

.post-copyright {
  margin: $post-copyright.margin;
  padding: $post-copyright.padding;
  border-left: $post-copyright.border.width $post-copyright.border.style $post-copyright.border.color;
  background-color: $post-copyright.bg;
  list-style: none;

  i.fa {
    font-size: 15px;
  }
}
