// Custom styles.
.footer-custom  a {
    background-color: color #000;
    border-bottom: none;
    text-decoration: none;
    line-height: 0;
}
.footer-custom a:hover img {
  opacity: 1;
}
.footer-custom img {
  // filter: brightness(0);
  display: inline-block;
  position: relative;
  top: 4px;

  width: 80px;
  height: 20px;
  opacity: .8;
  padding: 1px;
  padding-left: 1px;
  overflow:hidden;
}
// .headband
// .site-meta{
//   background: #38b7ea; //天空的颜色，和我的眼镜是绝配
// }
// .site-subtitle{
//   color: #fff;
// }

.copy-path {
    margin-left: 1em;
    width: 1em;
    cursor: pointer;
}

.copytooltip{
  padding-left: 1em;
  padding-bottom: 10em;

}

#mytitle {
    position: absolute;
    color: #ffffff;
    max-width: 160px;
    font-size: 12px;
    padding: 5px;
    background: rgba(40, 40, 40, 0.8);
}
