// 页面底部的 github 图片
.footer-custom  a {
    background-color: color #000;
    border-bottom: none;
    text-decoration: none;
    line-height: 0;
}
.footer-custom a:hover img {
  opacity: 1;
}
.footer-custom img {
  // filter: brightness(0);
  display: inline-block;
  position: relative;
  top: 4px;

  width: 80px;
  height: 20px;
  opacity: .8;
  padding: 1px;
  padding-left: 1px;
  overflow:hidden;
}


// 文章中的图片去掉边框
.post-body img{
  border-style: none !important;
}

// 原文：https://blog.csdn.net/jinggege0818/article/details/82113120 
// 自动更换背景图片
// body {
//     background:url(https://unsplash.artin.workers.dev/);
//     background-repeat: no-repeat;
//     background-attachment:fixed;
//     background-position:50% 50%;
//     background-size:cover;
// }